<%- include('header') %>

<div class="container">
    <%- include('errorbox') %>
    <form class="blaise-form" method="POST">
        <h2>Sign Up</h2>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Email address" autofocus>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password">
        </div>

        <div class="form-group">
            <label for="password2">Retype your password</label>
            <input type="password" id="password2" name="password2" class="form-control" placeholder="Retype your password">
        </div>

        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign up">
    </form>

    <div class="text-center">
        <a href="/log-in">Already a user? Log in!</a>
    </div>
</div>

<%- include('footer') %>