body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.large-font {
  font-size: 8em;
}

.blaise-margin, .col-xs-10 {
  margin: 10px 0;
}

.blaise-key-create {
   max-width: 500px;
   margin: 0 auto;
}